
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumbsSection about_section"  style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="breadcrumbs">
                    <h1>About us</h1>
                    <ul>
                        <li><a href="/Accounts/Index">Home</a></li>
                        <li>Courses</li>
                    </ul>
                </div><!-- ./breadcrumbs -->

            </div>
        </div>
    </div>
</section>
<!-- ./breadcrumbsSection -->

<section class="abt_cnts commSec">
    <div class="container">
        <div class="col-12">
            <div class="inner_pgs">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="cont_sideimg">
                            <img src="~/Content/images/about/about1.jpg">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="mainTitle blckClr left_ttl">Our History</h3>
                        <div class="details_his">
                            <p style="align-content:center">It was in January 2019, we registered a society, <b>PHARMA EDUCARE SOCIETY (TVM/TC/49/2019)</b>. We started our project with live coaching classes at THIRUVANANTHAPURAM, CALICUT & THRISSUR, with a single motto <b>“MAKING PROFESSIONALS, PROFESSIONALLY”</b></p>

                            <p style="align-content:center">Many of the REGISTERED PHARMACIST contacted and requested to start the same in their districts, also to provide materials for them. But, we know that none of us is going to refer the materials / any source when we get in hand altogether. As a result, we came with a solution,”<b> ONLINE COACHING”</b> specializing in solving MCQs in your preferred time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner_pgs">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="mainTitle blckClr left_ttl">Our Mission</h3>
                        <div class="details_his">
                            <p><b>MEDACADEMY</b>, the only software/platform available in KERALA, where you could get proper guidance for competitive exams, whose main motto: <b>“MAKING PROFESSIONALS, PROFESSIONALLY”</b>.
                            <p><b>MEDACADEMY</b> provides you:</p>
                            <p> Option to workout unlimitedly</p>
                            <p>  Preparation in your preferable timings</p>
                            <p>  Workouts unlimited until you are confident</p>
                            <p>  Self analyzation of your progress</p>
                            <p>  Time Management</p>
                            <p>  Find out solutions with discussions for each option where ever needed</p>
                            <p>  Notes (pdf) and videos on each topic</p>
                            <p>  Conduct exams every week</p>
                            <p><b><strong>Any time anywhere MEDACADEMY will be there with you”</strong></b>
                            </p>

                            <p>@*On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot fore see the pain and trouble that are bound to belongs to who fail in their duty.*@</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="cont_sideimg right">
                                    <img src="~/Content/images/about/about2.jpg">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="cont_sideimg right">
                                    <img src="~/Content/images/about/about3.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner_pgs">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="mainTitle blckClr left_ttl">Our Vision</h3>
                        <div class="details_his">
                            <p>“Where could we get proper coaching for PHARMACIST KPSC, etc?”</p>
                            <p>“Which is the prescribed textbook to get prepared for PSC for PHARMACIST?”</p>
                            <p>The only solution for all your questions:-“MEDACADEMY”</p>
                           <p> The only software/ platform available in Kerala, who is <b>MAKING PROFESSIONALS, PROFESSIONALLY,</b>
                             where you could workout & prepare according to your own preferred time. </p>


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="cont_sideimg">
                            <img src="~/Content/images/about/about4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

